// Specific CSS for your home-page
table {
    width: 100%;
}

td {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 8px 0px 8px 0px;
    
}
 body {
     font-size: smaller;
 }

#heading {
 text-align: center;
 color: white;
 background-color: black;
 }

 .form-inline {
     padding-bottom: 8px;
 }

 .header {
     position: relative;
 }

 .home {
     position: absolute;
     top: 8px;
 }

 .fas {
     font-size: 32px;
     color: white;
     
 }