<h1 id="heading">PACKFORM CODE TEST</h1>
<div class="container p-3">
  <div class="row">
    <div class="col-12">
      <div id="search-form">
        <%= form_tag root_path, method: :get, class: "form-inline", remote: true do %>
          <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a order"
        %>
          <%= submit_tag "Search", class: "btn btn-primary", id: "search-btn" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Total amount:</p>
      <div id="results">
      <%= render 'results' %>
      </div>
      
    </div>
  </div>
</div>
